<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Get Event Link</title>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous" type="text/javascript"></script>
<script type="text/javascript" th:src="@{/js/action.js}"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"
	type="text/javascript"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
	type="text/javascript"></script>
</head>
<body style="background-color: rgb(245, 239, 239);">
	
	<div>

		<div class="container.fluid    row justify-content-center   pt-4 mb-4 h5" style=" color: rgb(253, 251, 250); background-color: rgb(49, 157, 190); margin: auto; font-family: 'Times New Roman', Times, serif"  >
			CPEC(SEZ) & BRI Virtual Roadshow 
		</div>
	</div>

	<div style="height: 100px;" >
        <div class="container.fluid    justify-content-center    pt-4 ml-4 pl-4" style=" margin-left: 20px; font-family: 'Times New Roman', Times, serif"  >
			<h4 > Contact</h4> 
		</div>
		<div class="container.fluid     justify-content-center   pt-4 ml-4 pl-4" style= " font-family: 'Times New Roman', Times, serif">
			<p> Ghulam Mustafa<br> Trade & Investment Counselor Stockholm for Pakistan<br> Email: mustafa.tradecounselor@gmail.com<br> Phone: +46768696966</p> 
		</div>
        <div class="container.fluid     justify-content-center   pt-4 ml-4 pl-4" style="margin-right: 20px; font-family: 'Times New Roman', Times, serif"  >
			<p> Stephen Brawer <br> BRIX Sweden<br> Email: stephen.brawer@brixsweden.org<br> Phone: +46705429266</p> 
		</div>
        <div class="container.fluid     justify-content-center   pt-4 ml-4 pl-4" style="  font-family: 'Times New Roman', Times, serif"  >
			<p> Hussein Askary <br> BRIX Sweden<br> Email: hussein.askary@brixsweden.org<br> Phone: +46707297795</p> 
		</div>
	</div>
		
	
	
					
	
	
			
			
		
		
	
	

</body>

</html>